In [ ]:
#import libraries
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [ ]:
#read DataFrame
df = pd.read_csv('/content/drive/MyDrive/Data/Data_Challenge-main/WORLD_BANK_Sustainable_Energy_For_All/SE4ALLData.csv')
df

In [ ]:
print ("Valores vacios en las columnas", df.isna().sum(), sep='\n') 
#muestra la informacion que no se llena

In [ ]:
df2=df.drop(['Unnamed: 31'], axis=1)

In [ ]:
df2

In [ ]:
#Guarda datos en CSV:
df2.to_csv('SE4ALLData2.csv', index=False)

In [ ]:
#read DataFrame
df3 = pd.read_csv('/content/drive/MyDrive/Data/Data_Challenge-main/global_power_plant_database_v_1_3/global_power_plant_database.csv')
df3

In [ ]:
df3['source']

In [ ]:
df3['url']

In [ ]:
df3['owner']

In [ ]:
df3['wepp_id']

0        1009793
1            NaN
2            NaN
3        1009795
4        1009797
          ...
34931    1089529
34932    1043097
34933    1033763
34934    1033856
34935    1033857
Name: wepp_id, Length: 34936, dtype: object

In [ ]:
print ("Valores vacios en las columnas", df3.isna().sum(), sep='\n')

Valores vacios en las columnas
country                               0
country_long                          0
name                                  0
gppd_idnr                             0
capacity_mw                           0
latitude                              0
longitude                             0
primary_fuel                          0
other_fuel1                       32992
other_fuel2                       34660
other_fuel3                       34844
commissioning_year                17489
geolocation_source                  419
wepp_id                           18702
year_of_capacity_data             20049
generation_gwh_2013               28519
generation_gwh_2014               27710
generation_gwh_2015               26733
generation_gwh_2016               25792
generation_gwh_2017               25436
generation_gwh_2018               25299
generation_gwh_2019               25277
generation_data_source            23536
estimated_generation_gwh_2013     18816
estimated_generation_gwh_2014     18433
estimated_generation_gwh_2015     17886
estimated_generation_gwh_2016     17366
estimated_generation_gwh_2017      1798
estimated_generation_note_2013        0
estimated_generation_note_2014        0
estimated_generation_note_2015        0
estimated_generation_note_2016        0
estimated_generation_note_2017        0
dtype: int64

In [ ]:
df3=df3.drop(['url'], axis=1)

In [ ]:
df3=df3.drop(['owner'], axis=1)

In [ ]:
df3=df3.drop(['wepp_id'], axis=1)

In [ ]:
#Guarda datos en CSV:
df3.to_csv('global_power_plant_database.csv', index=False)

#Limpieza de tabla ELECGEN_2007_2019_Electricity_Gen_by_country_Gwh.json')

In [ ]:
#read DataFrame
df4 = pd.read_json('/content/drive/MyDrive/Data/Data_Challenge-main/Climate_data_trends/ELECGEN_2007_2019_Electricity_Gen_by_country_Gwh.json')
df4

,Country/area,Technology,Grid connection,Year,Electricity generation by country/area (GWh)
0,Afghanistan,On-grid Solar photovoltaic,Off-grid,2007,..
1,Afghanistan,On-grid Solar photovoltaic,Off-grid,2008,..
2,Afghanistan,On-grid Solar photovoltaic,Off-grid,2009,..
3,Afghanistan,On-grid Solar photovoltaic,Off-grid,2010,..
4,Afghanistan,On-grid Solar photovoltaic,Off-grid,2011,..
...,...,...,...,...,...
98119,Zimbabwe,Other non-renewable energy,On-grid,2015,..
98120,Zimbabwe,Other non-renewable energy,On-grid,2016,..
98121,Zimbabwe,Other non-renewable energy,On-grid,2017,..
98122,Zimbabwe,Other non-renewable energy,On-grid,2018,..
98123,Zimbabwe,Other non-renewable energy,On-grid,2019,..

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98124 entries, 0 to 98123
Data columns (total 5 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Country/area                                  98124 non-null  object
 1   Technology                                    98124 non-null  object
 2   Grid connection                               98124 non-null  object
 3   Year                                          98124 non-null  int64
 4   Electricity generation by country/area (GWh)  98124 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.7+ MB

In [ ]:
# Get names of indexes for which column Stock has value No
indexNames = df4[ df4['Electricity generation by country/area (GWh)'] == '..' ].index
# Delete these row indexes from dataFrame
df4.drop(indexNames , inplace=True)
print(df4)

      Country/area                   Technology Grid connection  Year  \
22     Afghanistan   On-grid Solar photovoltaic         On-grid  2016
23     Afghanistan   On-grid Solar photovoltaic         On-grid  2017
24     Afghanistan   On-grid Solar photovoltaic         On-grid  2018
25     Afghanistan   On-grid Solar photovoltaic         On-grid  2019
28     Afghanistan  Off-grid Solar photovoltaic        Off-grid  2009
...            ...                          ...             ...   ...
98067     Zimbabwe                 Fossil fuels         On-grid  2015
98068     Zimbabwe                 Fossil fuels         On-grid  2016
98069     Zimbabwe                 Fossil fuels         On-grid  2017
98070     Zimbabwe                 Fossil fuels         On-grid  2018
98071     Zimbabwe                 Fossil fuels         On-grid  2019

      Electricity generation by country/area (GWh)
22                                           2.992
23                                           2.263
24                                           2.263
25                                          15.578
28                                           0.004
...                                            ...
98067                                         4277
98068                                       4065.9
98069                                       3685.8
98070                                     3710.498
98071                                     3710.498

[16757 rows x 5 columns]

In [ ]:
df4.head()

,Country/area,Technology,Grid connection,Year,Electricity generation by country/area (GWh)
22,Afghanistan,On-grid Solar photovoltaic,On-grid,2016,2.992
23,Afghanistan,On-grid Solar photovoltaic,On-grid,2017,2.263
24,Afghanistan,On-grid Solar photovoltaic,On-grid,2018,2.263
25,Afghanistan,On-grid Solar photovoltaic,On-grid,2019,15.578
28,Afghanistan,Off-grid Solar photovoltaic,Off-grid,2009,0.004

In [ ]:
df4.to_csv('ELECGEN_2007_2019_Electricity_Gen_by_country_Gwh.csv', index=False)

In [ ]:
df4.to_json('ELECGEN_2007_2019_Electricity_Gen_by_country_Gwh.json')